body {
  width: 100%;
  margin: auto;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  color: #110038 100%; }

a {
  text-decoration: none; }

.movingTrain {
  box-shadow: 0 1px 0 0 #110038;
  max-width: 1438px;
  margin: auto; }
  .movingTrain span {
    font-family: "Chakra Petch", sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0; }

.withinBody {
  max-width: 1200px;
  margin: auto; }

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 15px; }
  .wrapper nav ul {
    display: flex; }
  .wrapper nav ul li {
    list-style-type: none;
    margin-left: 15px; }

.btn {
  width: 144px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center; }

.border {
  width: 140px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center; }

.border:hover {
  border: 1px dotted #110038; }

.padre01 {
  width: 167px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center; }

.span01 {
  width: 131px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center; }

.imag01 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center; }

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 170px;
  height: 122px; }
  .dropdown-content a {
    width: 150px;
    height: 36px;
    color: #110038;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 9px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 7px; }
  .dropdown-content a:first-letter {
    text-decoration: underline; }

.show {
  display: block; }

.misGuizzmos {
  width: 95px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .misGuizzmos a {
    color: #110038; }

.spancito:hover::first-letter {
  text-decoration: underline; }

.spancito:active {
  color: #110038; }

.searchEBox {
  width: 100%;
  height: 99px; }

.buscarSpan {
  font-family: "Chakra Petch-Bold", sans-serif;
  display: flex;
  align-items: center;
  height: 24px; }
  .buscarSpan span {
    color: #FFFFFF; }

.buscador {
  height: 75px;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 3.9%; }

#haceBuscar {
  margin-left: 5px;
  display: flex;
  align-items: center; }

#cuadroBusqueda {
  z-index: 0;
  width: 1057px;
  height: 48px;
  margin-left: 5px;
  font-family: "Chakra Petch", sans-serif; }

#bordeBuscar {
  width: 102px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px; }

#btnBuscar {
  padding: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px; }
  #btnBuscar span {
    margin-left: 7px; }

.busSugerencias {
  width: 1200px;
  height: 160px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  z-index: 100;
  margin-top: -9px;
  display: none;
  position: absolute; }

.talVez {
  width: 1055px;
  height: 34px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  text-decoration: none;
  color: #110038;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer; }

.inFlexiza {
  width: 100%;
  z-index: 100; }

.inFlexiza:hover {
  background: #DBDBDB;
  border: 1px dotted #110038; }

.flexiza {
  display: flex;
  flex-direction: column;
  z-index: 100; }

.laRecalcada {
  max-width: 388px;
  max-height: 390px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 1em; }

.laRecalcada:hover {
  border: 1px solid #110038; }

.laRecalcada:hover div {
  visibility: visible; }

.chDLL {
  width: 100%;
  height: 24px;
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  position: absolute;
  bottom: 0px;
  color: white;
  font-weight: bold;
  visibility: hidden; }

.sugerencias {
  margin-top: 64px;
  margin-bottom: 1em; }

.sugText {
  width: 1200px;
  height: 32px;
  display: flex;
  align-items: center;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D; }
  .sugText span {
    padding-left: 5px;
    font-family: "ChakraPetch", sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    color: #110038; }

.row {
  display: flex;
  margin-top: 1.4%;
  margin-bottom: 1.4%; }

.gifBox {
  width: 288px;
  height: 313px;
  background-color: black;
  margin-left: 1.4%;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer; }

.arribita {
  width: 280px;
  height: 24px;
  display: flex;
  color: #FFFFFF;
  font-size: 14px;
  justify-content: space-between;
  align-items: center; }

.elGif {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

#resultadoBusqueda {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto auto;
  margin-top: 1em;
  margin-bottom: 1em; }

.gifTraido {
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #110038;
  display: block;
  position: relative;
  cursor: pointer; }

#arribaEnTe {
  margin-left: 4px;
  margin-top: 4px; }

.deLosCuatro {
  width: 280px;
  height: 280px;
  border: 1px solid #110038;
  z-index: 0; }

.cajaMayorCuatro {
  width: 288px;
  height: 313px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-left: 10px; }

.laUltimaCaja {
  width: 280px;
  height: 280px;
  margin-left: 4px;
  position: relative; }

.sugBorde {
  top: 230px;
  position: absolute;
  width: 81px;
  margin-left: 15px;
  z-index: 100; }

.sugBorder:hover {
  border: 1px dotted #110038; }

.cajaMayorSol {
  top: 100px;
  margin-top: 30px;
  margin-bottom: -35px;
  margin-left: 15px; }

.historyBox {
  padding: 7px 15px;
  color: #FFFFFF; }

#guardado {
  display: flex;
  align-items: center; }

#theOneAndOnly {
  z-index: -1; }

.cajitaMas {
  cursor: pointer;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .cajitaMas span {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px; }

.cajitaMas:hover {
  border: 1px dotted #110038; }

.fullHeightPlease {
  height: 280px;
  width: 280px; }

.lasTendencias {
  height: 280px; }

.tendText {
  width: 1200px;
  height: 32px;
  display: flex;
  align-items: center;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  color: #110038; }
  .tendText span {
    padding-left: 5px;
    font-family: "ChakraPetch", sans-serif;
    font-size: 14px;
    letter-spacing: 0; }

#mostrarAleatorios {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto auto auto;
  margin-top: 1em;
  margin-bottom: 1em; }

.gifGuardados {
  display: flex;
  justify-content: center; }

.crearWrapper {
  display: flex;
  padding-top: 15px; }

.crearLogo {
  margin-left: 15px; }

.menuCrear {
  margin-top: 30px;
  display: flex;
  justify-content: center; }

.crearUno {
  width: 684px;
  height: 386px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.barraArriba {
  height: 24px;
  font-family: "Chakra Petch Bold", sans-serif;
  padding-top: 5px;
  padding-left: 10px;
  margin: 1px; }

.crearMainTextBody {
  padding: 25px; }

.titleStart {
  margin-left: 15px;
  font-family: "Chakra PetchBold", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px; }

.mainP {
  padding-left: 50px; }

.listaOrdenada {
  counter-reset: list;
  padding-left: 50px; }

.listaOrdenada > li {
  list-style: none;
  margin-bottom: 5px; }

.listaOrdenada > li::before {
  font-weight: bold;
  content: counter(list) ") ";
  counter-increment: list; }

.uReady {
  padding-left: 50px; }

.oneFWord {
  font-weight: 200;
  font-style: italic;
  font-size: 14px;
  color: #00001A;
  letter-spacing: 0;
  line-height: 20px; }

.lesBotons {
  float: right;
  margin-right: 50px;
  margin-top: -15px; }

.crearbtn {
  font-family: "Chakra Petch", sans-serif;
  width: 144px;
  height: 36px; }

.crearbtn.cancelar {
  font-family: "Chakra Petch", sans-serif;
  background: #FFF4FD;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }

.crearbtn.cancelar:hover {
  cursor: pointer; }

.crearbtn.comenzar {
  font-family: "Chakra Petch", sans-serif;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }

.crearbtn.comenzar:hover {
  cursor: pointer; }

#section32 {
  display: none; }

.crearDos {
  width: 860px;
  height: 548px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.volverPaTras {
  float: right;
  margin-right: 7px;
  cursor: pointer; }

.cuadroCaptura {
  width: 832px;
  height: 434px;
  border: 1px solid;
  margin: auto;
  margin-top: 5px; }

.startCapturaBtn {
  font-family: "Chakra Petch", sans-serif;
  display: flex;
  align-content: center;
  justify-content: space-between; }

.paLaDerecha {
  display: flex; }

.camaraFotoBtn {
  width: 36px;
  height: 36px;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  margin-top: 15px;
  cursor: pointer; }

.capturarBtn {
  font-family: "Chakra Petch", sans-serif;
  width: 144px;
  height: 36px;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 25px; }

.aceptameChe {
  font-family: "Chakra Petch", sans-serif; }

#repetir {
  background: #FFF4FD; }

#btn-stop-recording {
  font-family: "Chakra Petch", sans-serif;
  display: none; }

.cajitaReloj {
  width: 124px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  margin-left: 25px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden; }

.elDivDeCarga {
  display: none;
  width: 832px;
  height: 434px;
  background: #FFFFFF;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold; }
  .elDivDeCarga img {
    margin-bottom: 15px; }

/*# sourceMappingURL=main.css.map */
